{% extends 'base.html' %} {% block head %} {% load static %}
<title>File</title>
<script src="{% static 'file.js' %}"></script>
<script src="{% static 'encryptFolder.js' %}"></script>
<script src="{% static 'signFile.js' %}"></script>
{% endblock head %} {% block content %}

<h1>File verification</h1>
<form id="sign-form" class="form-to-complete" method="post" novalidate>
  {{ form.name }}
  {{ form.content }}
  {{ form.patient_sign.as_hidden }}
  {{ form.doctor_sign.as_hidden }}
  {% csrf_token %}
  <input type="submit" class="btn-secondary" onclick="return encryptFolder('{{ user.role }}');"
    value="Confirm verify" />
  <input class="btn-secondary" type="submit" name="action" value="giveup" />
</form>
{% if old_pub_key %}
<script>
  verifySignature('{{ file_pending.doctor_sign }}', '{{ old_pub_key.public_key }}', '{{ form.content.value }}')
</script> 
{% else %}
<script>
  verifySignature('{{ file_pending.doctor_sign }}', '{{ file_pending.doctor.public_key }}', '{{ form.content.value }}')
</script>
{% endif %}
{% endblock content %}