{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock head %}

{% block content %}

<h1>Revoke Doctor</h1>

{% if user.is_authenticated %}
<h2> Delete User</h2>
{% if doctors %}
<form method="post">
    {% csrf_token %}
    {% for doctor in doctors %}
    <p>Dr {{doctor.last_name}} {{doctor.first_name}} ({{doctor.email}})
        <input type="checkbox" name="doctor" {% if not doctor.enabled %} checked="checked" {% endif %}
            value={{doctor.email}}>
    </p>
    {% endfor%}
    <input type="submit" value="submit">
</form>

{% else %}
<p> No doctor </p>
{% endif %}
{% endif %}


{% endblock content %}