{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>Change Password</title>


{% endblock head %}

{% block content %}


<div class="register-container">
    <h1>Change password</h1>

    <form id="registerForm" class="register-form" method="post" novalidate>
        {{ form }}
        <input type="hidden" name="role" label="role" id="role" value="{{ user.role }}"></input>
        <input type="hidden" name="email" label="email" id="id_email" value="{{ user.email }}"></input>
        <input type="hidden" name="Protected_symetric_key" label="Protected_symetric_key"
            id="id_protected_symetric_key"></input>
        <input type="hidden" name="protected_private_key" label="protected_private_key"
            id="id_protected_private_key"></input>
        <input type="hidden" name="public_key" label="public_key" id="id_public_key"></input>
        {% if user.role == "PATIENT" %}
        <input type="hidden" name="files" label="files" id="files" value="{{ Files }}"></input>
        <input type="hidden" name="pendingFile" label="pendingFile" id="pendingFile" value="{{ PendingFiles }}"></input>
        {% endif %}
        {% if user.role == "PATIENT" or user.role == "DOCTOR" %}
        <input type="hidden" name="accords" label="accords" id="accords" value="{{ Accords }}"></input>
        {% endif %}
        {% csrf_token %}
        <input type="submit" value="Change password">
    </form>
</div>

<script src="{% static 'download.js' %}"></script>
<script src="{% static 'change_password.js' %}"></script>


{% endblock content %}